# Virtual environment
.venv/

# Python cache və bytecode
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS metadata
*.DS_Store

# Dataset və model faylları (böyük və yerli)
dataset/
model/
*.h5
*.keras
*.pkl

# Logs və müvəqqəti fayllar
*.log
*.tmp
